@import "../../../styles.scss";

.search--pipe {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: $american-yellow;
        padding: 0.3rem;
    }
    input {
        padding: 0.3rem;
        background-color: $blue;
        color: $american-yellow;
        border: none;
        border-bottom: 1px solid $american-yellow;
    }
}

.player--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem;

    .player--card {
        background: $american-yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20%;
        width: 17rem;
        height: 25rem;
        margin: 1rem;

        img {
            height: 250px;
            width: 200px;
        }

        .player--card--links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem 0;

            a {
                margin: 0.3rem 0;
                text-decoration: none;
                text-transform: uppercase;
                color: $blue;
            }

            a:hover {
                color: $rose-garnet;
            }

            .player--functions {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                a {
                    font-size: 0.6rem;
                    padding: 0 0.3rem;
                }
            }
        }
    }
}