<div class="search--pipe">
    <h2>Search players here:</h2>
    <input type="text" [(ngModel)]="filter" placeholder="search players..."/>
</div>
<div class="player--container" *ngIf="playerList.length">
    <div class="player--card" *ngFor="let player of ( playerList | filterBy: filter )">
        <h2>#{{ player.jersey }} {{ player.name | titlecase }}</h2>
        <img [src]="player.image" [alt]="player.name">
        <div class="player--card--links">
            <a [routerLink]="['/profile', player.id]">Player Profile</a>
            <div class="player--functions">
                <a [routerLink]="['/edit', player.id]">Edit Player</a>
                <a [routerLink]="['/delete', player.id]">Delete Player</a>
            </div>
        </div>
    </div>
</div>
