<div class="delete--box">
    <h2>Are you sure you want to delete {{ player.name }} ?</h2>
    <div class="box--options">
        <button (click)="onYes()" [routerLink]="['/list']">Yes</button>
        <button [routerLink]="['/list']">No</button>
    </div>
</div>
