@import "../../../styles.scss";

.delete--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $american-yellow;
    width: 25rem;
    height: 10rem;
    margin: 4rem auto;
    border-radius: 15%;

    h2 {
        color: $blue;
    }

    .box--options {
        button {
            margin: 0 0.5rem;
            width: 5rem;
            height: 2rem;
            background-color: $american-yellow;
            color: $blue;
            border: 3px solid $blue;
            border-radius: 30%;
        }
    }
}