@import "../../../styles.scss";

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        h1 {
            font-size: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 200px;
                height: auto;
                padding: 1rem;
            }
        }
        h2 {
            font-size: 3rem;
            color: $american-yellow;
            text-transform: uppercase;
        }
    }
}