<div class="homepage">
    <div class="title">
        <h1><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/1200px-FC_Barcelona_%28crest%29.svg.png" alt="">FC Barcelona</h1>
        <h2>Legendary Players</h2>
    </div>
</div>
