@import "../styles.scss";

.navbar {
    background-color: $rose-garnet;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    a {
        margin: 0 1rem;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
    }

    a:hover {
        color: $blue;
    }
}

