<div>
    <div class="player--card">
        <h2>#{{ player.jersey }} {{ player.name }}</h2>
        <img [src]="player.image" [alt]="player.name" width="200px">
        <div class="player--card--info">
            <h4>Status: {{ player.status }}</h4>
            <h4>Seasons: {{ player.seasons }}</h4>
        </div>
            <a [href]="player.playerurl">FC Barcelona Profile</a>
            <a [routerLink]="['/list']" >Go Back</a>
        </div>
</div>