@import "../../../styles.scss";

.player--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $american-yellow;
    width: 20rem;
    height: 30rem;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 20%;

    img {
        width: 200px;
        height: 250px;
    }

    .player--card--info {
        padding: 0.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h4 {
            margin: 0.4rem 0;
        }
    }
}