/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$blue: #004C99;
$american-yellow: #EDBC00;
$rose-garnet: #A70042;
$white: #ffffff;
$medium-candy-apple-red: #DB002C;
$canary-yellow: #FFEE00;

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background: #004C99;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: $american-yellow;
    font-size: 2rem;
}