<form class="main--form" [formGroup]="playerForm" (ngSubmit)="formSubmit(playerForm.value)">
    <label for="id">
        <h2>ID:</h2>
        <input type="text" formControlName="id" id="id">
    </label>
    <label for="name">
        <h2>Name:</h2>
        <input type="text" formControlName="name" id="name">
    </label>
    <label for="status">
        <h2>Status:</h2>
        <input type="text" formControlName="status" id="status">
    </label>
    <label for="seasons">
        <h2>Seasons:</h2>
        <input type="text" formControlName="seasons" id="seasons">
    </label>
    <label for="jersey">
        <h2>Jersey #:</h2>
        <input type="text" formControlName="jersey" id="jersey">
    </label>
    <label for="image">
        <h2>Image URL:</h2>
        <input type="text" formControlName="image" id="image">
    </label>
    <label for="playerUrl">
        <h2>FC Barcelona Profile Link:</h2>
        <input type="text" formControlName="playerUrl" id="playerUrl">
    </label>
    <label class="submit" for="submit">
        <input type="submit" value="Submit">
    </label>
</form>