@import "../../../styles.scss";


.main--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $american-yellow;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 20%;
    padding: 1rem;

    label {
        margin: 0.2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: $blue;
        }

        input {
            text-align: center;
            padding: 0 0.3rem;
            width: 15rem;
        }
    }

    .submit {
        margin: 2rem 0 0 0;

        input {
            width: 10rem;
            height: 3rem;
        }
    }
}